@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}

:root {
  --color-brand-dark: #011c44;
  --color-brand-light: #2b7fff;
  --color-primary-light: #ffffff;
}
/* Base */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  color: var(--color-brand-dark);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

a {
  display: inline-block;
}

ul {
  list-style-type: none;
}

.container {
  /* FILL PARAMETERS */

  max-width: 100%;
  width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section-title {
  margin-bottom: 48px;
  font-family: "Play", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.1;
}

.accent {
  color: var(--color-brand-light);
}

/* Link */
.link {
  color: var(--color-brand-dark);
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand-light);
}

/* Header section */

.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 40px;
}
.header-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 56px;
  padding: 0;
}
.header-icons {
  display: flex;
  gap: 32px;
}
.header-icon {
  fill: var(--color-brand-dark);
}
.header-icon:hover {
  fill: var(--color-brand-light);
}

/* Hero title */
.hero-section {
  background-image: url("../images/hero-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 605px 126px 106px;
}

.hero-paragraph {
  margin-bottom: 16px;
}

.hero-title {
  margin-bottom: 40px;
  font-family: "Play", sans-serif;
  color: var(--color-brand-light);
  font-size: 140px;
  line-height: 0.8;
  text-align: left;
  text-transform: capitalize;
}
.hero-text {
  margin-bottom: 126px;
  color: #4a4a4a;
  line-height: 1.5;
}

/* Button */
.button {
  margin-bottom: 14px;
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.button2 {
  margin-top: 18px;
  margin-bottom: 8px;
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  font-family: "Roboto", sans-serif;
}
.button2:hover {
  margin-top: 18px;
  margin-bottom: 8px;
  padding: 16px 32px;
  color: var(--color-primary-light);
  background-color: var(--color-brand-dark);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

/* About us section */

.about-us-container {
  display: flex;
  gap: 32px;
}
.about-us-content {
  display: flex;
  max-width: 710px;
  flex-direction: column;
}
.about-us-section {
  padding-bottom: 88px;
}

.about-us-title {
  margin-bottom: 40px;
}

.about-us-text {
  margin-bottom: 40px;
  line-height: 1.7;
  font-size: 22px;
}
.about-us-text:last-child {
  margin-bottom: 0;
}
.about-us-text .brand {
  font-weight: 600;
}

.about-us-photo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 500px;
}

.about-us-image {
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.2);
  width: 327px;
  height: 327px;
}
.about-us-image:last-child {
  margin-left: 176px;
}

/* Why us section */
.why-us-title {
  margin-bottom: 48px;
  text-align: center;
}

.why-us-title2 {
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 24px;
}

.why-us-section {
  background-image: url("/images/why-us-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 88px;
  padding-bottom: 48px;
}
.why-us-card {
  background-color: var(--color-primary-light);
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
  padding: 24px 32px;
  width: 316px;
  height: 181px;
  text-align: center;
}

.why-us-content {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 56px;
  flex-wrap: wrap;
}

.why-us-logo {
  margin-bottom: 8px;
  justify-content: center;
  fill: var(--color-brand-light);
}
.why-us-logo2 {
  margin-bottom: 12px;
}

/* Procedures section */

.procedures-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.procedures-item {
  max-width: 344px;
  flex-basis: calc((100% - 16px) / 3);
}

.procedures-card {
  background-image: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 48.529%,
    rgba(1, 28, 68, 0.73) 84.641%,
    rgb(1, 28, 68) 101.43%
  );
  padding: 0px 77px 32px 115px;
}
.procedures-title {
  margin-bottom: 48px;
  text-align: center;
}

.procedures-title2 {
  margin-bottom: 32px;
}

.procedures-section {
  padding: 48px 0;
}

.procedures-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  color: var(--color-primary-light);
  line-height: 1.8;
}

.procedures-card {
  border-radius: 4px 120px;
  padding: 372px 77px 32px 115px;
}
/*Carousel button*/
.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border: 1px solid var(--color-brand-dark);
  border-radius: 50%;
  fill: var(--color-brand-dark);
  background-color: transparent;
  cursor: pointer;
}
.carousel-button:hover {
  fill: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 1px solid var(--color-primary-light);
}

/* Contacts section */
.contacts-map {
  border-radius: 32px;
  flex-shrink: 0;
}

.client-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  color: #ffffff;
  font-size: 13px;
  text-align: start;
}
.client-item {
  height: 52px;
  width: 310px;
  padding: 18px 33px;
  border: 2px solid #747272;
  border-radius: 32px;
  /* flex-basis: calc((100% - 40px) / 3); */
}

.contacts-title {
  text-align: center;
  margin-bottom: 48px;
}

.contacts-section {
  padding-top: 48px;
  padding-bottom: 96px;
}

.contacts-text {
  color: var(--color-primary-light);
}

.contacts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}
.contacts-form {
  background-image: url(../images/footer-background.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 420px;
  height: 480px;
  padding: 48px 56px;
  text-align: center;
  background-color: var(--color-brand-dark);
  border-radius: 32px;
}

/* Footer */
footer {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary-light);
  background-color: var(--color-brand-dark);
  line-height: 1.19;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.footer-nav {
  display: flex;
}
.footer-menu {
  padding: 0;
  margin: 0;
}
.address-nav {
  display: flex;
}
.address-list {
  max-width: 200px;
  padding: 0;
  margin: 0;
}
.footer-icons {
  display: flex;
  justify-content: space-between;
  fill: var(--color-primary-light);
}
.footer-icon:hover {
  fill: var(--color-brand-light);
}
.footer-icon {
  fill: var(--color-primary-light);
}

/* Link footer */

.footer-section {
  background-image: url(../images/footer-background.png);
  background-position: center;
  padding-top: 56px;
}

.link-footer-text {
  margin-bottom: 16px;
}
.link-footer-text:nth-child(4) {
  margin-bottom: 0;
}

.link-footer {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link-footer:hover {
  color: var(--color-brand-light);
}
/* Address footer */
.address-link {
  color: var(--color-primary-light);
  font-style: normal;
  text-decoration: none;
}
.address-link:hover {
  color: var(--color-brand-light);
}
/* Data pivacy footer */
.privacy-policy {
  color: var(--color-primary-light);
  text-decoration: none;
}
.privacy-policy:hover {
  color: var(--color-brand-light);
  text-decoration: none;
}

.data-privacy {
  color: #747272;
  line-height: 1.5;
}

.data-privacy2 {
  margin-bottom: 0;
  color: #747272;
  line-height: 1.15;
}
