
@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');  
}

@font-face {
    font-display: swap;
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v19-latin-700.woff2') format('woff2'); 
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

:root {
    --color-brand-dark: #011C44;
    --color-brand-light: #2B7FFF;
    --color-primary-light: #FFFFFF;
}
/* Base */
body {
    font-family: 'Roboto', sans-serif;
    font-size:  18px;
    font-weight: 400;
    line-height: 1.16;
    color: var(--color-brand-dark);
}

ul {
    list-style-type: none;
}

.section-title {
    font-family: 'Play', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 0.015;
}

.section-title .accent {
    color: var(--color-brand-light)
}


/* Link */
.link {
    color: var(--color-brand-dark);
    text-decoration: none;
}
.link:hover {
    color: var(--color-brand-light);
    font-weight: 700;
}

/* Hero title */
.hero-title {
    font-family: 'Play', sans-serif;
    color: var(--color-brand-light);
    font-size: 140px;
    line-height: 0.8;
    text-transform: capitalize;
}
.hero-text {
    color: #4A4A4A;
    line-height: 1.5;
}

/* Button */
.button {
    color: var(--color-primary-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 32px;
    cursor: pointer;  
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}

/* About us section */

.about-us-text {
    line-height: 1.7;
    font-size: 22px;
}
.about-us-text .brand {
    font-weight: 600;
}

/* Why us section */
.why-us-text {
    color: #000000;
    line-height: 1.3;
}

/* Procedures section */
.procedures-text {
    color: var(--color-primary-light);
    line-height: 1.8;
}

/* Contacts section */
.contacts-text {
    color: var(--color-primary-light);
}




/* Footer */
footer {
    font-family: 'Roboto', sans-serif;
    color: var(--color-primary-light);
    background-color: var(--color-brand-dark);
    line-height: 1.19;
}
/* Link footer */
.link-footer {
    color: var(--color-primary-light);
    text-decoration: none;
}

.link-footer:hover {
    color: var(--color-brand-light);
    font-weight: 700;
}
/* Address footer */
.address-link {
    color: var(--color-primary-light);
    font-style: normal;
    text-decoration: none;
}
.address-link:hover {
    color: var(--color-brand-light);

}
/* Data pivacy footer */
.privacy-policy {
    color: var(--color-primary-light);
    text-decoration: none;
}
.privacy-policy:hover {
    color: var(--color-brand-light);
    text-decoration: none;
}

.data-privacy {
    color: #747272;
    line-height: 1.5;
}

.data-privacy2 {
    color: #747272;
    line-height: 1.15;
}
